/* Font Style*/

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

.fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
}

.fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}

.fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
}

.fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
}

.fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
}

.fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
}

.fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
}

.fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
}

.fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
}

.fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
}


/* Shared Style*/

.btn-primary {
    background-color: white;
    color: #006A50;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
    border-color: #006A50;
    cursor: pointer;


}

body {
    background-color: #f5f5f5;
}


/* Nav Styles*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 50px;

}

.nav-title {
    font-weight: bold;
    font-size: 28px;
    color: #0E0E0E;
    opacity: 50%;

}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 16px;
}

/* Banner Styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    background-color: #C6E4D6;
    padding: 80px 60px;
    border-radius: 20px;
}

.btn-explore {
    background-color: #006A50;
    color: #FFFFFF;
}

.banner-title {
    color: #0E0E0E;
}

.banner-description {
    color: #0E0E0E;
    font-weight: bold;
}

.banner-profile-picture {
    width: 520px;
}

.banner-content {
    width: 480px;
}
/* Main */

/* Vision */

.vision {
    margin: 40px 50px;

}

.heading-vision {
    font-size: 36px;
    font-weight: bold;
}

.vision-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btn-DT {
    background-color: #5490F5;
    color: #FFFFFF;
}

.btn-GE {
    background-color: #09A15C;
    color: #FFFFFF;
}

.btn-MI {
    background-color: #FFC239;
    color: #FFFFFF;
}

.bd-vision-DT {
    background-color: rgba(84, 144, 245, 0.20);
}

.bd-vision-GE {
    background-color: #C6E4D6;
}

.bd-vision-MI {
    background-color: #F7EBCF;

}

.VC {
    border-radius: 14px;
    padding: 32px 32px;
    font-size: 14px;
}

/* Quote Section */

.quote {
    margin: 40px 50px;
    padding: 48px 24px;
    border-radius: 16px;
    stroke-width: 1px;
    stroke-opacity: 15%;
    background-color: white;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 24px 34px;
}

/* Recent News */

.news-section {
    margin: 40px 50px;
}

.rn-div-1 {
    display: flex;
    gap: 32px;
    background-color: white;
    margin-top: 32px;
    padding: 40px 40px;
    border-radius: 10px;
}

.rn-div-2 {
    display: flex;
    gap: 32px;
    background-color: white;
    margin-top: 32px;
    padding: 40px 40px;
    border-radius: 10px;
}

.rn-div-3 {
    display: flex;
    gap: 32px;
    background-color: white;
    margin-top: 32px;
    padding: 40px 40px;
    border-radius: 10px;
}

.donate-item-2 {
    display: flex;
    justify-content: space-between;

}

.donate-section {
    margin: 40px 50px;
    padding: 40px 70px;

}

.btn-donate {
    width: 240px;
    height: 85px;
    font-size: 30px;
    color: black;
}

.donate-heading {
    text-align: center;
}

.donate-description {
    text-align: center;
}

.input-donate {
    width: max-content;
}

.btn-donate-submit {
    margin-top: 30px;
    text-align: center;
}

.subscribe-heading {
    text-align: center;
}

.subscribe-content {
    text-align: center;
    font-size: 12px;
    padding: 0px 200px;
}

.subscribe-div {
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 40px 50px;
    list-style: none;
    padding: 60px 60px;
}

footer ul a {
    text-decoration: none;
    
}

footer ul li{
    list-style: none;
}

.footer-heading{
    text-align: center;
}
ul {
    display: flex;
    align-content: center;
    gap: 10px;
    justify-content: center;
}

hr {
    margin: 0 50px;
}

img {
    border-radius: 10px;
}

.btn-2 {
    background-color: #C6E4D6;
}

.donate-item-3 input[type="text"] {
    height: 40px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 95%;
    padding: 10px 20px;
    margin-top: 20px;
}

.donate-item-3 [type="text"]::placeholder {
    text-align: center;
}

.subscribe-form input[type="text"] {
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    background-color: white;
    width: 70%;
    padding: 10px 20px;
}

.btn-subscribe {
    margin-left: 0px;
    background-color: #006A50;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

.btn-primary:hover {
    background-color: aquamarine;
}

.form-div {
    display: flex;
    justify-content: center;
    gap: 0;
}